.oldDog{
display: inline;
border: 1px dotted blue;
padding: 10px;
/*width: 1000px;*/
/*width: 1000px;*/
/*text-align: left;*/
/*margin: 0 auto;*/
/*width:1000000px;*/
}

.codeDog{
margin: 50px;
border: 2px dotted red;
display: inline-block;
text-align: center;
/*width: 1000px;*/
/*width: 500px;
height: 500px;
padding: 100px;*/
/*padding: px;*/
}

.greekDog{

display: block;
border: 1px dotted blue;
width: 400px;
}
.greekDog1{
display:block;
border: 1px dotted red;
margin: 10px;
width: 500px;

}
span{

	color: yellow;
	background-color: lightblue;
}
/*margin: 0 auto;
A static width needs to be used 
 example: width: XXX px;

 text-align: center;
 */
